.ARC linguist-vendored
.arc linguist-vendored
*.ARC linguist-vendored
*.arc linguist-vendored
.COM linguist-vendored
*.COM linguist-vendored
.com linguist-vendored
*.com linguist-vendored
*.PS linguist-vendored
*.ps linguist-vendored
.ps linguist-vendored
.PS linguist-vendored
SHEL_MSG/SHELMSGS.ARC linguist-vendored
CCMSGS/CCMSGS.ARC linguist-vendored
UTL_MSGS/UTILMSGS.ARC linguist-vendored
CFG_UTL/COFF.H linguist-vendored
HEADERS/VMDRIVER.H linguist-vendored
HEADERS/VMQUEUE.H linguist-vendored
HEADERS/BASPAG.H linguist-vendored
SYSLIB/LIBCALLS.H linguist-vendored
HEADERS/VMKB.H linguist-vendored
VMUTIL/IBMDISK.H linguist-vendored
HEADERS/BTOOLS.H linguist-vendored
CFG_UTL/LOAD68K.H linguist-vendored
HEADERS/DH.H linguist-vendored
SAMPLE/UTLERRS.H linguist-vendored
CFG_UTL/CRUNCH.COM linguist-vendored
/RECDIR.COM linguist-vendored
/FSET.COM linguist-vendored
/DISKSET.COM linguist-vendored
/DIR.COM linguist-vendored
/SORT.COM linguist-vendored
VMUTIL/VMUTIL.COM linguist-vendored
/VER.COM linguist-vendored
/COPY.COM linguist-vendored
/VOL.COM linguist-vendored
CFG_UTL/SS.COM linguist-vendored
SHEL_OBJ/SHELL.COM linguist-vendored
/TIME.COM linguist-vendored
CFG_UTL/SYS.COM linguist-vendored
CFG_UTL/DISKCOMP.COM linguist-vendored
/DATE.COM linguist-vendored
/RENAME.COM linguist-vendored
SYS_GEN/TOOLS/10M1.COM linguist-vendored
/TREE.COM linguist-vendored
/CHKDSK.COM linguist-vendored
CFG_UTL/FORMAT.COM linguist-vendored
/MORE.COM linguist-vendored
/CONFIG.COM linguist-vendored
/BACKUP.COM linguist-vendored
/PASSWORD.COM linguist-vendored
CFG_UTL/DISKCOPY.COM linguist-vendored
/WMEX.COM linguist-vendored
/RECFILE.COM linguist-vendored
/COMP.COM linguist-vendored
/FIND.COM linguist-vendored
/LOGON.COM linguist-vendored
/TYPE.COM linguist-vendored
CFG_UTL/COFF.COM linguist-vendored
/PROCESS.COM linguist-vendored
/RESTORE.COM linguist-vendored
SYS_SRC/OMMUA.PS linguist-vendored
DRV_SRC/BTOOLS.PS linguist-vendored
*.BAT linguist-vendored
.BAT linguist-vendored

